# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
*.whl
.python-version

#  Environment
.env
.env.*
*.secret
*.key
.venv

#  Db
*.sqlite3
*.db

# Logs
*.log
logs/

#  Test caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.cache/

# Venv
venv/
.venv/

# Build and distribution
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
.tmp
