# App settings
LOG_LEVEL=
APP_HOST=
APP_PORT=
APP_RELOAD=
CORS_ORIGINS=
CORS_METHODS=
CORS_HEADERS=
FRONTEND_URL=

# PostgreSQL settings
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TEST_DB=

# JWT settings
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_EXPIRE_SECONDS=
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRE_SECONDS=

# OAuth settings
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# RabbitMQ settings
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

# Email
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=
MAIL_STARTTLS=
MAIL_SSL_TLS=
MAIL_TEMPLATE_FOLDER=

# APIs
HH_TIMEOUT=
HH_RETRIES=

SUPERJOB_API_KEY=
SJ_TIMEOUT=
SJ_RETRIES=

PRACA_TIMEOUT=
PRACA_RETRIES=

EPAM_TIMEOUT=
EPAM_RETRIES=